<p id="notice"><%= notice %></p>

<p>
  <b>Address1:</b>
  <%= @leads_a.Address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @leads_a.Address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @leads_a.Address3 %>
</p>

<p>
  <b>Address4:</b>
  <%= @leads_a.Address4 %>
</p>

<p>
  <b>Firstname:</b>
  <%= @leads_a.FirstName %>
</p>

<p>
  <b>Homephone:</b>
  <%= @leads_a.HomePhone %>
</p>

<p>
  <b>Lastname:</b>
  <%= @leads_a.LastName %>
</p>

<p>
  <b>Postcode:</b>
  <%= @leads_a.Postcode %>
</p>

<p>
  <b>Price:</b>
  <%= @leads_a.Price %>
</p>

<p>
  <b>Title:</b>
  <%= @leads_a.Title %>
</p>

<p>
  <b>Address5:</b>
  <%= @leads_a.Address5 %>
</p>

<p>
  <b>Address6:</b>
  <%= @leads_a.Address6 %>
</p>


<%= link_to 'Edit', edit_leads_a_path(@leads_a) %> |
<%= link_to 'Back', leads_as_path %>
