<p id="notice"><%= notice %></p>

<p>
  <b>Address1:</b>
  <%= @leads_b.Address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @leads_b.Address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @leads_b.Address3 %>
</p>

<p>
  <b>Address4:</b>
  <%= @leads_b.Address4 %>
</p>

<p>
  <b>Firstname:</b>
  <%= @leads_b.FirstName %>
</p>

<p>
  <b>Homephone:</b>
  <%= @leads_b.HomePhone %>
</p>

<p>
  <b>Lastname:</b>
  <%= @leads_b.LastName %>
</p>

<p>
  <b>Postcode:</b>
  <%= @leads_b.Postcode %>
</p>

<p>
  <b>Price:</b>
  <%= @leads_b.Price %>
</p>

<p>
  <b>Title:</b>
  <%= @leads_b.Title %>
</p>

<p>
  <b>Address5:</b>
  <%= @leads_b.Address5 %>
</p>

<p>
  <b>Address6:</b>
  <%= @leads_b.Address6 %>
</p>

<p>
  <b>Longitude:</b>
  <%= @leads_b.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @leads_b.latitude %>
</p>

<p>
  <b>Gmap:</b>
  <%= @leads_b.gmap %>
</p>

<p>
  <b>Latitude:</b>
  <%= @leads_b.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @leads_b.longitude %>
</p>

<p>
  <b>Distance:</b>
  <%= @leads_b.Distance %>
</p>

<p>
  <b>Price:</b>
  <%= @leads_b.Price %>
</p>


<%= link_to 'Edit', edit_leads_b_path(@leads_b) %> |
<%= link_to 'Back', leads_bs_path %>
